body {
    background-color: #E3E2DF;
}

#gameboard {
    display: grid;
    background-color:#5D001E;
    grid-template-columns: 1fr 1fr 1fr;
    width: 48vw;
    margin: auto;
    column-gap: 1em;
    row-gap: 1em;
}

.gameSquare {
    background-color: #E3AFBC;
    cursor: pointer;
    text-align: center;
    line-height: 110px;
}

header {
    color: #9A1750;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-shadow: 2px 2px #E3AFBC;
}

#playerSelect {
    text-align: center;
    padding-bottom: 1em;
    display: none;
}

.gameSquare {
    font-size: 3em;
    color:  #9A1750;
    font-weight: 700;
}

#results {
    color: #9A1750;
    text-align: center;
    padding: 1em;
    font-size: 3em;
    display: none;
    text-shadow: 2px 2px #EE4C7C
}
