body {
    background-color: #E3E2DF;
    font-family: 'Yusei Magic', sans-serif;
}

#gameboard {
    display: grid;
    background-color:#5D001E;
    grid-template-columns: 1fr 1fr 1fr;
    width: 48vw;
    margin: auto;
    column-gap: 1em;
    row-gap: 1em;
    max-width: 30em;
    min-width: 20em;
}

.gameSquare {
    background-color: #E3AFBC;
    cursor: pointer;
    text-align: center;
    line-height: 110px;
}

header {
    color: #9A1750;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-shadow: 2px 2px #E3AFBC;
}

#playerSelect {
    text-align: center;
    padding-bottom: 1em;
    display: none;
}

.gameSquare {
    font-size: 3em;
    color:  #9A1750;
    font-weight: 700;
}

#results {
    color: #9A1750;
    text-align: center;
    padding: 1em;
    font-size: 3em;
    display: none;
    text-shadow: 2px 2px #EE4C7C
}

#postGame {
    text-align: center;
    padding: 1em;
}

#playAgain {
    font-size: 1em;
    cursor: pointer;
    color:  #5D001E;
    background-color: #E3AFBC;
    border: 2px solid  #9A1750;
    box-shadow: 1px 2px  #5D001E;
    padding: 1vh;
    border-radius: 1vh;
    transition-duration: 0.3s;
}

#playAgain:hover {
    background-color: #5D001E;
    color: #E3AFBC;
}

